# AWS Account credentials and region
AWS_ACCOUNT_ID=123456789012
AWS_REGION=eu-west-1
AWS_CDK_BOOTSTRAP_QUALIFIER=hnb659fds

# GitHub token secret path in AWS Secrets Manager
GITHUB_TOKEN_SECRET_PATH=auth-api/github/token
